<% if flash[:notice] %>
  <div class="ui compact success visible message">
    <h3><%= flash[:notice] %></h3>
  </div>
<% elsif flash[:alert] %>
  <div class="ui compact error visible message">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

