<div class="ui steps">
  <div class="step">
    <i class="book icon"></i>
    <div class="content">
      <div class="title">Course</div>
      <div class="description">
        <%=link_to parent.title, admin_course_path(parent) %>
      </div>
    </div>
  </div>
  <div class="active step">
    <i class="block layout icon"></i>
    <div class="content">
      <div class="title">Unit</div>
      <div class="description">
        
      </div>
    </div>
  </div>
  <div class="disabled step">
    <i class="help icon"></i>
    <div class="content">
      <div class="title">Question</div>
    </div>
  </div>
</div>