<h3 class="ui dividing header">Change Password</h3>
<%= simple_form_for current_admin, url: update_password_admin_admins_path, method: :put do |f| %>
  <%= f.input :password, label: 'New Password' %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Save" %>
<% end %>