
<% content_for :tail do %>
  <script type="text/javascript">
    $('#clock').countdown('<%= deadline.strftime("%Y/%m/%d") %>', function(event) {
     $(this).html(event.strftime('%D D %H H %M M %S S'));
    });
  </script>
<% end %>
<div class="ui large message">
  <h1 class="ui huge center aligned header">OWL</h1>
  <h2 class="ui center aligned header">Get a new book every month. </h2>
  <h2 class="ui center aligned header">Answer American-style homework questions. </h2>
  <h2 class="ui center aligned header">Get feedback from experienced American teachers. </h2>
  <h2 class="ui center aligned header">Improve your reading and critical thinking. </h2>
  <h2 class="ui center purple aligned header">
  <span id="clock"></span> remaining to buy the <%= deadline.strftime("%B") %> course

  <div class="ui divider"></div>
  <h2 class="ui center aligned header">
    <%= link_to raw("Sign Up &raquo;"), new_user_registration_path, :class => "ui blue button huge" %>
    <%= link_to raw("Log In &raquo;"), new_user_session_path, :class => "ui blue button huge" %>
  </h2>

</div>