<div class="ui large message">
  <h1 class="ui huge center aligned header">Team</h1>
  <div>
    Owl ABC’s mission is to cultivate learners’ curiosity by pushing and developing their creative thinking skills.
  </div>
  <div>
    We’re a small team of educators, technologists, and lifelong learners who want to help folks improve their English and critical thinking skills.
  </div>
  <div class="ui divided items">
    <div class="link item">
      <div class="ui tiny image">
        <img src="/images/profile/missing.png">
      </div>
      <div class="content">
        <p class="header">Greg</p>
        <div class="description">
          XXX
        </div>
      </div>
    </div>
    <div class="link item">
      <div class="ui tiny image">
        <img src="/images/profile/missing.png">
      </div>
      <div class="content">
        <p class="header">Peter</p>
        <div class="description">
          Peter takes his years of experience in the education industry to help keep Owl ABC running.  He’s been a classroom English teacher at a leading international language institute and a content developer in one of China’s hottest education technology startups.  Peter earned a bachelor’s degree in political science with distinction from Occidental College.
        </div>
      </div>
    </div>
    <div class="link item">
      <div class="ui tiny image">
        <img src="/images/profile/missing.png">
      </div>
      <div class="content">
        <p class="header">Rebecca</p>
        <div class="description">
          XXX
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>
  <h2 class="ui center aligned header">
    <%= link_to raw("Sign Up &raquo;"), new_user_registration_path, :class => "ui blue button huge" %>
    <%= link_to raw("Log In &raquo;"), new_user_session_path, :class => "ui blue button huge" %>
  </h2>
</div>
