*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
}

.ui.grid.main{
  margin-top: 70px;
}


.mobile.row{
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
  border-radius: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui.message{
  padding-top: 50px !important;
  padding-bottom: 8px !important;

}

@media (max-width: 767px) {
    .ui.grid.main{
      margin-top: 70px;
  }
  .ui.vertical.menu.navbar{
    margin-top: 0px !important;
  }
}

.ui.vertical.menu{
  margin-top: 35px !important;
  width: 100%;
  display: none;
}


.login_box{
  margin-top: 50px !important;
  text-align: left;
}

.paginate{
  margin-top: 20px;
}

.ui.inverted.menu{
  background-color: #333 !important;
}



.ui.vertical.divider{
  height: 40% !important;
}


.question_form{
  padding-bottom: 20px;
}


.inline.button{
  display:inline-block; 
}

.add_choice_link{
  margin-top: 20px !important;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}


.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.site_logo{
  display: inline-block !important;
  margin-right: 10px !important;
}

.brand_site{
  padding: 0px !important;
}
.brand_site:before{
  content:none !important;
}

.site_name{
  color: #78aedc !important;
}

