<table class="ui seven small sortable celled table segment">
  <thead>
    <tr>
      <% display_arr.each do |elem| %>
        <th>
          <%= I18n.t "activerecord.attributes.#{collection.klass.to_s.downcase}.#{elem}" %>
        </th>
      <% end %>
      <th>Operate</th>
    </tr>
  </thead>

  <tbody>
    <% collection.each do |resource| %>
      <%= render :partial => "admin/shared/record_row", :locals => {:display_arr => display_arr, :resource => resource} %>
    <% end %>
  </tbody>
</table>