<div class="ui divided list">
  <% display_arr.each do |elem| %>
    <div class="item">
      <div class="content">
        <a class="header">
          <%= I18n.t "activerecord.attributes.#{resource.class.to_s.downcase}.#{elem}" %>
        </a>
        <div class="description">
          <% if resource.send(elem).class == Paperclip::Attachment %>
            <%= link_to resource.send(elem).original_filename, resource.send(elem).to_s %>
          <% else %>
            <%= resource.send(elem) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "admin/shared/page_links" %>

