  <form action="<%= collection_path %>">
    <div class="ui small icon input">
      <input type="text" placeholder="<%= placeholder %>..." name="q">
      <i class="search icon"></i>
    </div>
  </form>