<div class="seven wide field">
  <h2>Question</h2>
  <h3><%= resource.question.content %></h3>
  <div class="ui divider"></div>
  <h2>Student Response</h2>
  <h3><%= resource.answer %></h3>
  <div class="ui divider"></div>
  <h2>Teacher Feedback</h2>
</div>
<div class="seven wide field">
  <%= f.input :feedback, :label => false, :autofocus => true %>
</div>

